<!DOCTYPE html>
<html>
<head>
    <title>Loading Split</title>
    <style>
        /* Your CSS code here */
    </style>
    <script>
        window.addEventListener("load", function(){
            var node = document.querySelector("[data-loading]");
            node.setAttribute("data-loading","complete");
        });
    </script>
</head>
<body>
    <div class="header">
        <div style="width:50%;float:left;font-size:2vw;text-align:left;color:darkred; padding-top:1%;padding-left:5%;">Smart Maths Tutor</div>
        <div class="topnav-right" style="padding-top:0.5%;">
            <a href="{{ url_for('home')}}">HOME</a>
            <a class="active" href="{{ url_for('intro')}}">ABOUT</a>
            <a href="{{ url_for('launch')}}">LEARN SHAPE</a>
        </div>
    </div>
    <!-- Page content goes here -->
    <div data-loading>
        <span> <span></span> </span>
        <span> <span></span> </span>
    </div>
</body>
</html>
